/**
 * This file contains the font rules (also responsive).
 *
 * If you want to change fonts, just edit their values and the entire website will be affected.
 *
 * Note: Same structure is also used on other Arshwell type websites. We recommend keeping same structure for all platforms.
 */

@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

@mixin ff-title-1st () {
    font-family: 'Kurale', serif; // used for titles (only)
}
@mixin ff-title-2nd () {
    font-family: 'Kurale', serif; // used for titles (rarely)
}
@mixin ff-text-1st () {
    font-family: monospace; // used for paragraphs
}
@mixin ff-text-2nd () {
    font-family: monospace; // used for paragraphs (rarely)
}

body {
	@include ff-text-1st();

	h1, h2, h3, h4, h5, h6 {
        @include ff-title-1st();
        color: map-get($cms-colors, 1);
        margin: 0;
	}

    // mobile
    font-size: 14px;
	h1, .fz-h1 {font-size: 33px}
	h2, .fz-h2 {font-size: 30px}
	h3, .fz-h3 {font-size: 27px}
	h4, .fz-h4 {font-size: 24px}
	h5, .fz-h5 {font-size: 21px}
	h6, .fz-h6 {font-size: 18px}

    // big phone
	@media (min-width: 576px) {
        font-size: 14px;
	    h1, .fz-h1 {font-size: 69px}
	    h2, .fz-h2 {font-size: 56px}
	    h3, .fz-h3 {font-size: 44px}
	    h4, .fz-h4 {font-size: 38px}
	    h5, .fz-h5 {font-size: 26px}
	    h6, .fz-h6 {font-size: 18px}
	}

    // tablet
	@media (min-width: 768px) {
        font-size: 15px;
	    h1, .fz-h1 {font-size: 71px}
	    h2, .fz-h2 {font-size: 58px}
	    h3, .fz-h3 {font-size: 46px}
	    h4, .fz-h4 {font-size: 40px}
	    h5, .fz-h5 {font-size: 28px}
	    h6, .fz-h6 {font-size: 20px}
	}

    // laptop
	@media (min-width: 992px) {
        font-size: 15px;
	    h1, .fz-h1 {font-size: 73px}
	    h2, .fz-h2 {font-size: 60px}
	    h3, .fz-h3 {font-size: 48px}
	    h4, .fz-h4 {font-size: 42px}
	    h5, .fz-h5 {font-size: 30px}
	    h6, .fz-h6 {font-size: 22px}
	}

    // desktop
	@media (min-width: 1200px) {
        font-size: 16px;
	    h1, .fz-h1 {font-size: 75px}
	    h2, .fz-h2 {font-size: 62px}
	    h3, .fz-h3 {font-size: 50px}
	    h4, .fz-h4 {font-size: 44px}
	    h5, .fz-h5 {font-size: 32px}
	    h6, .fz-h6 {font-size: 24px}
	}

    // big desktop
	@media (min-width: 1500px) {
        font-size: 16px;
	    h1, .fz-h1 {font-size: 77px}
	    h2, .fz-h2 {font-size: 64px}
	    h3, .fz-h3 {font-size: 52px}
	    h4, .fz-h4 {font-size: 46px}
	    h5, .fz-h5 {font-size: 34px}
	    h6, .fz-h6 {font-size: 26px}
	}
	@media (min-width: 1800px) {
        font-size: 17px;
	    h1, .fz-h1 {font-size: 79px}
	    h2, .fz-h2 {font-size: 66px}
	    h3, .fz-h3 {font-size: 54px}
	    h4, .fz-h4 {font-size: 48px}
	    h5, .fz-h5 {font-size: 36px}
	    h6, .fz-h6 {font-size: 28px}
	}
	@media (min-width: 2100px) {
        font-size: 18px;
	    h1, .fz-h1 {font-size: 91px}
	    h2, .fz-h2 {font-size: 68px}
	    h3, .fz-h3 {font-size: 56px}
	    h4, .fz-h4 {font-size: 50px}
	    h5, .fz-h5 {font-size: 38px}
	    h6, .fz-h6 {font-size: 30px}
	}

	.ff-title-1st {
        @include ff-title-1st();
	}
	.ff-title-2nd {
        @include ff-title-2nd();
	}
	.ff-text-1st {
        @include ff-text-1st();
	}
    .ff-text-2nd {
        @include ff-text-2nd();
	}
}
