$arrows-down--size: 20px;
$arrows-down--speed: 3s;

.section-banner {
    background-position: center;
    background-repeat: no-repeat;
    @include arsh--background-size(cover);

    min-height: 125px;
    height: 125px; // as backup if 'vh' doesn't work
    height: 50vh;
    max-height: 350px;

    > .overlay {
        position: relative;
        background-color: rgba(0, 0, 0, .25);
        height: 100%;
        width: 100%;
    }

    &.section-banner--with-image {
        > .overlay {
            > .container-fluid {
                height: auto;
                margin: 0 auto;
                padding: 0px;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                z-index: 1;
                @include arsh--translateY(-50%);
                font-weight: 600;
            }
        }
    }
    &.section-banner--with-text {
        > .overlay {
            > .container {
                height: auto;
                margin: 0 auto;
                padding-top: 0;
                padding-bottom: 0;
                position: absolute;
                z-index: 1;
                bottom: 8%;
                left: 0;
                right: 0;
                font-weight: 600;

                h1.sentence {
                    color: map-get($site-colors, 7);
                    text-shadow: 0px 2px 7px #{map-get($site-colors, 8)}50;
                    margin-bottom: 20px;
                }
                p.tag {
                    margin: 0;
                    color: map-get($site-colors, 3);
                    text-shadow: 0px 2px 7px #{map-get($site-colors, 7)}50;
                }
            }
        }
    }

    &:not(.section-banner--half) {
        .arrows-down-animated {
            @include arsh--opacity(0);
            visibility: hidden;
            position: absolute;
            left: 50%;
            bottom: 5px;
            width: $arrows-down--size;
            height: $arrows-down--size;
            @include arsh--transform(translateY(-50%));
            @include arsh--transition(opacity 2s ease);

            &:after,
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border-width: 0 0 $arrows-down--size/4 $arrows-down--size/4;
                border-style: solid;
                border-color: #{map-get($site-colors, 1)}60;
            }

            &.show {
                @include arsh--opacity(1);
                visibility: visible;

                &:before {
                    @include arsh--transform(translate($arrows-down--size/3, $arrows-down--size*4/3) rotate(-45deg));
                    @include arsh--animation(arrows-animation $arrows-down--speed linear infinite);
                }
                &:after {
                    @include arsh--transform(translate($arrows-down--size*2/3, 0px) rotate(-45deg));
                    @include arsh--animation(arrows-animation $arrows-down--speed linear infinite $arrows-down--speed/-2);
                }
            }
        }
    }

    &.section-banner--half {
        min-height: 65px;
        height: 65px; // as backup if 'vh' doesn't work
        height: 25vh;
        max-height: 175px;

        &.section-banner--with-text {
            > .overlay {
                > .container {
                    h1.sentence {
                        margin-bottom: 0;
                    }
                    p.tag {
                        display: none;
                    }
                }
            }
        }
    }
}
