.section-banner {
    height: -webkit-fill-available; // fallback if 'vh' doesn't work
    height: 100vh; // fallback for browsers that do not support var(--vh, 1vh)
    height: calc(var(--vh, 1vh) * 100); // --vh property set in javascript
    max-height: 1500px;

    &.section-banner--half {
        height: 600px; // fallback if 'vh' doesn't work
        height: 50vh; // fallback for browsers that do not support var(--vh, 1vh)
        height: calc(var(--vh, 1vh) * 50); // --vh property set in javascript
        max-height: 1000px;
    }
}
