.section-banner {
    min-height: 250px;
    height: -webkit-fill-available; // fallback if 'vh' doesn't work
    height: 100vh; // fallback for browsers that do not support var(--vh, 1vh)
    height: calc(var(--vh, 1vh) * 100); // --vh property set in javascript

    &.section-banner--with-text {
        > .overlay {
            > .container {
                h1.sentence {
                    margin-bottom: 40px;
                }
            }
        }
    }

    &.section-banner--half {
        min-height: 125px;
        height: 125px; // fallback if 'vh' doesn't work
        height: 50vh; // fallback for browsers that do not support var(--vh, 1vh)
        height: calc(var(--vh, 1vh) * 50); // --vh property set in javascript

        &.section-banner--with-text {
            > .overlay {
                > .container {
                    h1.sentence {
                        margin-bottom: 20px;
                    }
                    p.tag {
                        display: block;
                    }
                }
            }
        }
    }
}
