body {
    padding-top: 0px;
}

#app {
    #bg-image {
        background-position: center;
        background-repeat: no-repeat;
        @include arsh--background-size(cover);
        color: map-get($site-colors, 7);

        .container {
            table {
                min-height: calc(100vh - 116px);

                td {
                    padding-top: 80px;

                    form {
                        [data-response="message"] {
                            @include arsh--opacity(0);
                        }
                    }
                }
            }
        }
    }
}
