.box {
    color: map-get($site-colors, 5);
    @include arsh--box-shadow(1px 1px 10px #000000);
    overflow: hidden;

    .background-image {
        background-position: center;
        background-repeat: no-repeat;
        @include arsh--background-size(cover);

        height: 100px;
        color: map-get($site-colors, 7);
    }
    .text {
        padding: 10px;

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            line-clamp: 3;
            -webkit-line-clamp: 3;
        }
    }
}
