.box {
    color: map-get($site-colors, 5);
    overflow: hidden;

    .service--bg-image {
        background-position: center;
        background-repeat: no-repeat;
        @include arsh--background-size(cover);

        height: 100px;
        color: map-get($site-colors, 7);
    }
    .service--text {
        padding: 10px;

        .service--description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            line-clamp: 2;
            -webkit-line-clamp: 2;
        }
    }
}
