html {
	overflow-x: hidden;
}

body {
	font-family: 'Helvetica', 'Segoe UI', 'Arial';
	margin: 0;
    padding-right: 0px !important; // against modal and fancy-box feature
    font-size: 14px;

	&.body-no-scroll {
	    overflow: hidden;
	    position: static;
	    left: 0;
	    right: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	}
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"],
textarea, .form-control {
	font-size: 14px;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
	@include arsh--background-image('checkbox/checkbox-13.png');
    background-size: auto 100%;
    margin-right: 8px;
    position: relative;
    margin-top: 3px;
    float: left;

    &:checked {
        background-position: right;
    }
}
input[type="radio"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
	@include arsh--background-image('radiobox/radiobox-6.png');
    background-size: auto 100%;
    margin-right: 8px;
    position: relative;
    margin-top: 3px;
    float: left;

    &:checked {
        background-position: right;
    }
}

.strike-oblique {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid;
        border-color: inherit;
        @include arsh--transform(rotate(-30deg));
    }
}
