body {
    background-color: map-get($cms-colors, 8);
}

nav {
    background-color: map-get($cms-colors, 1);
    color: map-get($cms-colors, 5);
    position: sticky;
    top: 0;
    z-index: 1030;

    .navbar-brand {
        @include arsh--linear-gradient(left, map-get($cms-colors, 6), map-get($cms-colors, 7));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        // for mobile, not overflowing navbar-toggler
        max-width: calc(100% - 75px);
        overflow: hidden;
        width: auto;
        text-overflow: ellipsis;

        img {
            max-height: 36px;
        }
        sup {
            -webkit-text-fill-color: initial;
        }
    }
    .navbar-collapse {
        [class*="col-"] {
            &:not(:first-child) {
                margin-left: 20px;
            }

            .icon {
                background-color: map-get($cms-colors, 2);
                color: map-get($cms-colors, 5);
                border-radius: 50%;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;

                &:hover {
                    color: map-get($cms-colors, 4);
                }

                i {
                    display: inline-block;
                }
            }
            .dropdown {
                img {
                    max-height: 46px;
                }

                div[data-toggle="dropdown"] {
                    cursor: pointer;
                    position: relative;
                    padding: 0px 60px 0px 5px;

                    .name, .group {
                        display: block;
                    }
                    .group {
                        color: map-get($cms-colors, 4);
                        font-size: smaller;
                    }

                    i {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        @include arsh--transform(translate(-0%, -50%));
                    }
                }
                .dropdown-menu {
                    font-size: inherit;
                }
            }
        }

        #navigation-menu {
            padding: 0px;
            background-color: #3d3d3d;
            margin-left: 0px;

            a {
                background-color: #3d3d3d;
                text-decoration: none;
                color: #eee;
                border: none;
                border-top: 1px solid rgba(0, 0, 0, 0.125);

                i.fas.fa-caret-down {
                    float: right;
                    line-height: 22px;
                    margin-left: 5px;
                    @include arsh--transition(all 0.4s ease);
                }

                &[aria-expanded="true"] {
                    i.fas.fa-caret-down {
                        @include arsh--transform(rotate(-180deg));
                    }
                }
                &:hover,
                &.active {
                    background-color: rgba(0, 0, 0, 0.1);
                }
                &.active {
                    color: map-get($cms-colors, 6);
                }
                &.disabled {
                    color: #6c757d; // gray
                }
            }
            ul {
                a {
                    font-size: smaller;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }
    }
}
