nav {
    #navigation-menu {
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        left: 0;
        min-height: calc(100vh - 100%); // a weird hack

        &::-webkit-scrollbar {
            width: 0px;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
        /* Optional: show position indicator in red */
        &::-webkit-scrollbar-thumb {
            background: #FF0000;
        }
    }
}
