nav {
    #navigation-menu {
        height: calc(100vh - 56px);
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 56px;
        left: 0;

        &::-webkit-scrollbar {
            width: 0px;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
        /* Optional: show position indicator in red */
        &::-webkit-scrollbar-thumb {
            background: #FF0000;
        }
    }
}
