{
    "name":         "{{user.dev.name}}/elletherapy",
    "host":         "work.arshguide.ro",
    "protocol":     "ftp",
    "port":         21,
    "username":     "{{user.dev.name}}@work.arshguide.ro",
    "password":     "{{user.dev.pass}}",
    "remotePath":   "/elletherapy/",
    "ignore":       [
        ".vscode/*", ".git/*", ".well-known/*", "cgi-bin/*", "vendor/**/.git/*",
        "caches/*", "uploads/*/*", "!uploads/.htaccess",
        ".ftpquota", ".gitignore", ".gitmodules"
    ],
    "uploadOnSave": true
}
